@import url("./styles/theme.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

.gameContainer {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 0;
  padding-top: 1em;
  margin: 0;
}

.themeButton,
.resetButton {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.3em;
  border-radius: 30px;
  width: 6.9em;
  border: 3px solid white;
}

.remainingTries {
  display: none;
}

.resetButton {
  margin-right: 3em;
}

.resetButton {
  margin-top: 1em;
  margin-bottom: 1em;
}

.game {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  height: 95vh;
  width: 50vw;
  overflow: hidden;
  margin: auto;
  border: 10px solid rgb(243, 209, 98);
  background-color: rgba(11, 11, 11, 0.061);
  backdrop-filter: blur(5px);
  border-radius: 5em;
  box-shadow: rgb(27, 3, 27) 8px 8px 10px;
}

.hungarian {
  background: url("./assets/imgs/flags/hungarian.png");
}

.english {
  background: url("./assets/imgs/flags/english.png");
}

.flags {
  height: 44px;
  width: 74px;
  display: flex;
  position: absolute;
  right: 30px;
  top: 40px;
  background-color: #e7e3e3;
  justify-content: space-between;
  border: rgb(153, 156, 154) 3px solid;
  border-radius: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 4px;
  box-shadow: black 3px 5px 5px;
}

.hungarian,
.english {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.hideHu {
  z-index: -1;
  opacity: 0;
  transform: translateX(30px);
}
.showHu {
  z-index: 1;
  opacity: 1;
  transform: translateX(0px);
}
.hideEn {
  z-index: -1;
  opacity: 0;
  transform: translateX(-30px);
}
.showEn {
  z-index: 1;
  opacity: 1;
  transform: translateX(0px);
}

.hungarian {
  transition: z-index 1.8s ease-in-out, opacity 1s ease-in-out,
    transform 0.5s ease-in-out;
}

.english {
  transition: z-index 1.8s ease-in-out, opacity 1s ease-in-out,
    transform 0.5s ease-in-out;
}

.hangman {
  display: grid;
  place-content: center;
  padding: 2em;
  border-radius: 40px;
  box-shadow: rgb(27, 3, 27) 8px 8px 10px;
  border: 4px solid white;
}

.hangman img {
  width: 10em;
  height: 10em;
}

.ansLetters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 70%;
}

.ansLetters,
.keyboard {
  padding-top: 1em;
}

.dash {
  border-radius: 0.4em;
  font-weight: 600;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.559);
  text-align: center;
  border: 3px solid white;
  padding: 0;
}

.ansLetter {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.4em;
  font-size: 1.6em;
  border: none;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.559);
  text-align: center;
  border: 3px solid white;
  padding: 0;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  gap: 10px;
}

.keyboard,
.ansLetters {
  margin-top: 1em;
}

.keyboard-key {
  width: 1em;
  height: 1em;
  background-color: #fdec7c;
  color: rgb(10, 3, 11);
  border-radius: 0.4em;
  line-height: 1em;
  font-size: 1.6em;
  border: none;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.559);
  border: 3px solid white;
}

.guessed {
  background-color: #8e7443;
  color: black;
}

.win,
.fail {
  border: 3px solid white;
  height: 4em;
}

.space {
  width: 20px;
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .flags {
    height: 30px;
    width: 50px;
    padding: 3px;
    right: 10px;
    top: auto;
    top: 15px;
  }
  .game::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f9fbfb;
    border-radius: 10px;
  }
  .game {
    overflow: auto;
  }

  .resetButton,
  .themeButton {
    width: 8em;
    font-size: 13px;
  }

  .themeButton {
    text-align: center;
  }

  .hangman img {
    width: 4em;
    height: 4em;
  }
  .hangman {
    padding: 2em;
  }
  .keyboard {
    grid-template-columns: repeat(8, 1fr);
  }

  .ansLetters {
    max-width: 90%;
  }

  .keyboard-key,
  .ansLetter,
  .dash {
    width: 30px;
    height: 30px;
    font-size: 0.8em;
  }
  .game {
    border: none !important;
    width: 100vw;
    box-shadow: none !important;
    background-color: transparent;
    backdrop-filter: none;
    border-radius: 0;
  }

  .win,
  .fail {
    width: 20em;
    font-size: 1em;
  }

  .result {
    padding-bottom: 0.5em;
  }
}
@media screen and (max-width: 1025px) and (min-width: 600px) {
  .hangman img {
    width: 7em;
    height: 7em;
  }
  .keyboard {
    grid-template-columns: repeat(10, 1fr);
  }
  .game {
    width: 90vw;
  }
  .win,
  .fail {
    width: 20em;
  }

  .keyboard-key,
  .ansLetter,
  .dash {
    width: 1.6em;
    height: 1.6em;
    font-size: 1.4em;
  }

  .themeButton,
  .resetButton {
    font-size: 1em;
  }
}

@media screen and (min-width: 1025px) {
  .keyboard {
    grid-template-columns: repeat(12, 1fr);
  }

  .keyboard-key,
  .ansLetter,
  .dash {
    width: 1.4em;
    height: 1.4em;
    font-size: 2.3em;
  }

  .win,
  .fail {
    width: 20em;
  }

  .keyboard,
  .ansLetters {
    gap: 1em;
  }
  .game {
    height: 90vh;
    width: 90vw;
  }
  .hangman img {
    width: 15em;
    height: 15em;
  }
  .themeButton,
  .resetButton {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 2000px) {
  .keyboard {
    grid-template-columns: repeat(12, 1fr);
    padding: 2em;
  }

  .keyboard-key,
  .ansLetter,
  .dash {
    font-size: 2em;
    width: 2em;
    height: 2em;
  }

  .keyboard,
  .ansLetters {
    gap: 1em;
  }
  .game {
    width: 58vw;
  }
  .hangman img {
    width: 15em;
    height: 15em;
  }
  .themeButton,
  .resetButton {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 3000px) {
  .game {
    width: 35vw;
  }
  .themeButton,
  .resetButton {
    font-size: 1.4em;
  }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
  .flags {
    height: 30px;
    width: 50px;
    padding: 4px;
    right: 10px;
    top: auto;
    top: 15px;
  }

  .hungarian,
  .english {
    position: relative;
    top: -1px;
  }

  .resetButton,
  .themeButton {
    width: 7em;
    font-size: 13px;
  }

  .hangman {
    display: none;
  }

  .game {
    height: 100vh;
  }
  .keyboard {
    grid-template-columns: repeat(12, 1fr);
  }

  .keyboard-key,
  .ansLetter,
  .dash {
    width: 30px;
    height: 30px;
    font-size: 0.8em;
  }

  .remainingTries {
    color: white;
    display: block;
  }

  .ansLetters,
  .keyboard {
    padding-bottom: 1.3em;
    margin-top: 0.2em;
  }

  .game {
    border: none !important;
    width: 100vw;
    box-shadow: none !important;
    background-color: transparent;
    backdrop-filter: none;
    border-radius: 0;
  }

  .result {
    padding-bottom: 0.2em;
  }

  .win,
  .fail {
    height: 3.4em;
    width: 25em;
    font-size: 0.8em;
  }
}
