@import url("./styles/theme.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

.gameContainer {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  padding-top: 1em;
}

.themeButton,
.resetButton {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.3em;
  border-radius: 30px;
  width: 6.9em;
  border: 3px solid white;
}

.remainingTries {
  display: none;
}

.resetButton {
  margin-right: 3em;
}

.resetButton {
  margin-top: 1em;
  margin-bottom: 1em;
}

.game {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  height: 90vh;
  width: 50vw;
  overflow: hidden;
  margin: auto;
  border: 10px solid rgb(243, 209, 98);
  background-color: rgba(11, 11, 11, 0.061);
  backdrop-filter: blur(5px);
  border-radius: 5em;
  box-shadow: rgb(27, 3, 27) 8px 8px 10px;
}

.hangman {
  display: grid;
  place-content: center;
  padding: 2em;
  border-radius: 40px;
  box-shadow: rgb(27, 3, 27) 8px 8px 10px;
  border: 4px solid white;
}

.hangman img {
  width: 10em;
  height: 10em;
}

.ansLetters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 70%;
}

.ansLetters,
.keyboard {
  padding-top: 1em;
}

.ansLetter {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.4em;
  font-size: 1.6em;
  border: none;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.559);
  text-align: center;
  border: 3px solid white;
  padding: 0;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
  gap: 10px;
}

.keyboard,
.ansLetters {
  margin-top: 1em;
}

.keyboard-key {
  width: 1em;
  height: 1em;
  background-color: #fdec7c;
  color: rgb(10, 3, 11);
  border-radius: 0.4em;
  line-height: 1em;
  font-size: 1.6em;
  border: none;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.559);
  border: 3px solid white;
}

.guessed {
  background-color: #8e7443;
  color: black;
}

.win,
.fail {
  border: 3px solid white;
}

.space {
  width: 20px;
}

@media screen and (max-width: 600px) {
  .resetButton,
  .themeButton {
    width: 5em;
    font-size: 13px;
  }

  .themeButton {
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    text-align: center;
  }

  .hangman img {
    width: 4em;
    height: 4em;
  }
  .hangman {
    padding: 2em;
  }
  .keyboard {
    grid-template-columns: repeat(8, 1fr);
  }
  .keyboard-key,
  .ansLetter {
    width: 30px;
    height: 30px;
    font-size: 0.8em;
  }
  .game {
    border: none !important;
    width: 100vw;
    box-shadow: none !important;
    background-color: transparent;
    backdrop-filter: none;
    border-radius: 0;
  }

  .win,
  .fail {
    height: 3em;
    width: 20em;
    font-size: 1em;
  }

  .win {
    height: 4em;
  }
  .result {
    padding-bottom: 0.5em;
  }
}
@media screen and (max-width: 1025px) and (min-width: 600px) {
  .hangman img {
    width: 7em;
    height: 7em;
  }
  .keyboard {
    grid-template-columns: repeat(10, 1fr);
  }
  .game {
    width: 90vw;
  }
  .win,
  .fail {
    width: 20em;
    height: 3em;
  }

  .keyboard-key,
  .ansLetter {
    width: 1.6em;
    height: 1.6em;
    font-size: 1.4em;
  }

  .themeButton,
  .resetButton {
    font-size: 1em;
  }
}

@media screen and (min-width: 1025px) {
  .keyboard {
    grid-template-columns: repeat(12, 1fr);
  }

  .keyboard-key,
  .ansLetter {
    width: 1.4em;
    height: 1.4em;
    font-size: 2.3em;
  }

  .win,
  .fail {
    width: 20em;
    height: 3.5em;
  }

  .keyboard,
  .ansLetters {
    gap: 1em;
  }
  .game {
    height: 90vh;
    width: 90vw;
  }
  .hangman img {
    width: 15em;
    height: 15em;
  }
  .themeButton,
  .resetButton {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 2000px) {
  .keyboard {
    grid-template-columns: repeat(12, 1fr);
    padding: 2em;
  }

  .keyboard-key,
  .ansLetter {
    font-size: 2em;
    width: 2em;
    height: 2em;
  }

  .keyboard,
  .ansLetters {
    gap: 1em;
  }
  .game {
    width: 58vw;
  }
  .hangman img {
    width: 15em;
    height: 15em;
  }
  .themeButton,
  .resetButton {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 3000px) {
  .game {
    width: 35vw;
  }
  .themeButton,
  .resetButton {
    font-size: 1.4em;
  }
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
  .resetButton,
  .themeButton {
    width: 7em;
    font-size: 13px;
  }

  .hangman {
    padding: 1.5em;
    display: none;
  }

  .hangman img {
    width: 3em;
    height: 3em;
  }
  .game {
    height: 100vh;
  }
  .keyboard {
    grid-template-columns: repeat(14, 1fr);
  }

  .keyboard-key,
  .ansLetter {
    width: 30px;
    height: 30px;
    font-size: 0.8em;
  }

  .remainingTries {
    color: white;
    display: block;
  }

  .ansLetters,
  .keyboard {
    padding-bottom: 1em;
  }

  .game {
    border: none !important;
    width: 100vw;
    box-shadow: none !important;
    background-color: transparent;
    backdrop-filter: none;
    border-radius: 0;
  }

  .result {
    padding-bottom: 1em;
  }

  .win,
  .fail {
    height: 3em;
    width: 25em;
    font-size: 0.8em;
  }
}
